{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('{% static "assets/img/fotoefeitos.com_.jpg"%}'); background-position: 0 70%">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Sobre mim</h1>
                            <span class="subheading">É isso o que faço!</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>
                            Olá a todos, me chamo Rodrigo e criei este blog para compartilhar um pouco do que aprendi sobre programação Python e, ao mesmo tempo, aprimorar ainda mais meu conhecimento na linguagem.</p>
                        <p>Desde que comecei a estudar programação, o Python tem sido uma das minhas linguagens favoritas. A simplicidade da sintaxe e a sua vasta gama de bibliotecas tornam o Python uma linguagem poderosa e versátil para diversos projetos. E é por isso que eu quero compartilhar um pouco do que aprendi com outras pessoas que também estão interessadas em aprender Python.

                        </p>
                        <p>Atualmente, estou no meu primeiro emprego como desenvolvedor junior, e trabalhar na área de tecnologia tem sido uma experiência incrível. A cada dia, estou aprendendo coisas novas e me desafiando a crescer ainda mais. Eu acredito que compartilhar conhecimento é a melhor forma de crescer juntos, por isso estou animado para criar conteúdos relevantes para este blog e ajudar outras pessoas a se tornarem programadores Python ainda melhores.</p>
                    </div>
                </div>
            </div>
        </main>
        {% endblock content %}
    </body>
</html>
